<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<div>
  <%= @question%>
</div>
<div>
  <%= @coach_answer%>
</div>
    <div>
    <%= link_to(@link) do%> vai te foder
    <% end %>
    </div>
